* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFEFEF;
    padding: 8px;
    font-family: sans-serif;
}

em,
i {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    margin: 0;
    padding: 0;
}

.checked {
    display: block;
    position: relative;
    z-index: 1;
}

.checked::after {
    content: "";
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.checked::before {
    content: "✓";
    z-index: 3;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #008CBA;
    font-size: 2rem;
}

.list {
    background-color: #FFF;
    border-top: 3px solid #008CBA;
    max-width: 640px;
    margin: auto;
}

.list h1 {
    margin: 0;
    padding: 16px;
    font-weight: lighter;
}

.cells li {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #EFEFEF;
    align-items: center;
    padding: 0 16px 0 8px;
}

.cells em {
    flex: 1;
    margin-left: 8px;
    font-size: 1rem;
}

.cells em.struck {
    text-decoration: line-through;
}

.cells i {
    font-size: 0.8rem;
    font-style: italic;
}

.cells .thumb {
    padding: 4px 0;
}

.cells .check {
    margin-left: auto;
}
