* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFEFEF;
    padding: 32px;
    font-family: sans-serif;
}

em,
i {
    font-style: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.check {
    background-color: transparent;
    border: 2px solid #CCC;
    border-radius: 100%;
    width: 16px;
    height: 16px;
}

.check.checked {
    border-color: #008CBA;
    background-color: #008CBA;
}

.list {
    background-color: #FFF;
    border-top: 3px solid #008CBA;
}

.list h1 {
    margin: 0;
    padding: 16px;
    font-weight: lighter;
}

.cells li {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #EFEFEF;
    align-items: center;
    padding: 0 24px 0 8px;
}

.cells em {
    flex: 1;
    margin-left: 8px;
    font-size: 1rem;
}

.cells em.struck {
    text-decoration: line-through;
}

.cells i {
    font-size: 0.8rem;
    font-style: italic;
    margin-right: 16px;
}

.cells img {
    padding: 4px 0;
}

.cells .check {
    margin-left: auto;
}
